.container_fields {
    margin: auto;
    padding: 40px;
    justify-content: center;
    border: aqua 10px solid;
    max-height: 715px;
    max-width: 300px;
}

.container_right {
    padding: 40px;
}

.container_fields {
    align-items: center;
}

.container_fields .form_field {
    height: 56px;
    width: 300px;
    margin-bottom: 20px;
    background-color: #d5dee4 !important;
    margin-left: 80px;
    /*margin-right: 60px;*/
}

.form_title {
    margin: 20px;
    text-align: center;
    font-family: "Roboto Light", serif;
}

.centerFormControl {
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card_profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}


.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.request_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    align-items: flex-start;

}

.request_card .item {
    padding: 0;
}

.request_card .button {
    background-color: cadetblue;
    max-width: 300px;
    margin-bottom: 7px;
}


.button_container {
    align-items: center;
}

.button_container .button:first-child {
    background-color: #d9bc84;
}

.button_container .button:hover {
    background-color: #d58f04;
}


.member {
    background-color: #d9bc84;
}
