.container_fields {
    margin: auto;
    padding: 40px;
    justify-content: center;
    border: aqua 10px solid;
    max-height: 715px;
    max-width: 300px;
}

.container_right {
    padding: 40px;
}

.container_fields {
    align-items: center;
}

.container_fields .form_field {
    height: 56px;
    width: 300px;
    margin-bottom: 20px;
    background-color: #d5dee4 !important;
    margin-left: 80px;
    /*margin-right: 60px;*/
}

.form_title {
    margin: 20px;
    text-align: center;
    font-family: "Roboto Light", serif;
}

.centerFormControl {
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card_profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}


.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 12px;
}

.small {
    width: 50px;
    height: 50px;
}

.request_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    align-items: flex-start;

}

.request_card .item {
    padding: 0;
}

.request_card .button {
    background-color: cadetblue;
    max-width: 300px;
    margin-bottom: 7px;
}


.button_container {
    align-items: center;
}

.button_container .button:first-child {
    background-color: #d9bc84;
}

.button_container .button:hover {
    background-color: #d58f04;
}


.member {
    background-color: #d9bc84;
}

.conversation {
    padding: 40px;
    justify-content: center;
    border: aqua 10px solid;
    width: 75%;
}

.conversationContainer {
    display: flex;
    height: 100%;
}

.chatList {
    width: 25%;
    background-color: #f2f2f2;
    padding: 10px;
}

.inputContainer {
    display: flex;
    align-items: center;
    padding: 10px;
}

.inputContainer > * {
    margin-right: 10px;
}

.container_message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container_message::after {
    content: "";
    clear: both;
    display: table;
}

.container_message img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container_message img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.img_right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}

/*.nav {*/
/*    height: 50px;*/
/*    background-color: #333;*/
/*    color: white;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: stretch;*/
/*    gap: 2rem;*/
/*    padding: 0 1rem;*/

/*}*/
/*.site-title {*/
/*    font-size: 2rem;*/
/*}*/

/*.nav ul {*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    list-style: none;*/
/*    display: flex;*/
/*    gap: 1rem;*/
/*}*/
/*.nav a {*/
/*    color: inherit;*/
/*    text-decoration: none;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: .25rem;*/

/*}*/

/*.nav li.active {*/
/*    background-color: #555;*/
/*}*/

/*.nav li:hover {*/
/*    background-color: #777;*/
/*}*/
